<section class="bg-gray-20 dark:bg-gray-900">
  <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">

    <div
      class="w-full max-w-md bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">

      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <h3
          class="text-xl font-bold leading-tight text-center  tracking-tight text-gray-900 md:text-2xl dark:text-white">
          Login to your account
        </h3>
        <form [formGroup]="LogInForm" (ngSubmit)="onLogIn()" class="space-y-4 md:space-y-6">
          <div>
            <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email</label>
            <input type="email" formControlName="email" name="email" id="email"
              class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="name@company.com" required="">
          </div>
          <div>
            <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
            <input type="password" formControlName="password" name="password" id="password" placeholder="••••••••"
              class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              (keyup)="onKeyUp($event)">
            <span *ngIf="wrongpassword" class="font-thin text-sm info-text-color "> password length should be 6 </span>
          </div>

          <div class="flex justify-center">
            <div class=" gap-2  grid grid-cols-2">
              <button (click)="onCancel()"
                class=" text-white bg-blue-500 bg-primary-600 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600  dark:focus:ring-primary-800">Cancel</button>
              <button type="submit" [disabled]="!LogInForm.valid"
                class=" text-white bg-blue-500 bg-secondary-600 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-secondary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-secondary-600  dark:focus:ring-secondary-800"
                [ngClass]="{'hover:bg-blue-800': LogInForm.valid}">
                Login</button>
            </div>
          </div>
          <div class="text-sm font-medium text-gray-500 dark:text-gray-300">
            Not registered? <a [routerLink]="['', 'signup']"
              class="text-blue-700 hover:underline dark:text-blue-500">Create account</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>