<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
   
</head>
<body>
    <h1>Welcome to eRegistrar</h1>
    <nav>
        <ul>
            <li><a th:href="@{/eregistrar/home}">Home</a></li>
            <li><a th:href="@{/eregistrar/students}">List Students</a></li>
            <li><a th:href="@{/eregistrar/register}">Register Student</a></li>
            <li><a th:href="@{/eregistrar/search}">Search Students</a></li>
        </ul>
    </nav>
</body>
</html>
