.button-bg {
    background-color: lightblue;
}

.info-text-color {
    color: red;
    font-style: italic;
}

.cover {
    position: relative;
}

.inside {
    position: absolute;
    top: 2px;
    right: 2px;
    width: 150px;
    height: 150px;

}

.image_avatar {
    width: 100%;
    height: 100%;
    /* object-fit: contain; */
}